@mixin responsiveWidth {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@mixin gridItems {
  display: grid;
  place-items: center;
}
@mixin flexItems {
  display: flex;
  align-items: center;
}
